.detail-view {
  width: 50%;
  height: 100%;
  padding: 10px;
  background-color: #df095e;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sprite-image {
  width: 80%;
  height: 250px;
  margin: 20px auto;
  background-color: #fafaf2;
  border-radius: 5px;
  color: #e0b9b9;
}

.data-wrapper {
  width: 80%;
  height: 130px;
  padding: 10px;
  margin: 0 auto;
  background-color: rgb(56, 117, 197);
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px rgba(20, 59, 110, 0.8);
  color: #FFF;
}

.data-name {
  margin: 0 0 5px;
}

.data-char {
  font-size: 12px;
}

.header {
  text-align: center;
  font-size: 2rem;
  padding: 10px;

}